* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  border: #1e9e33 .3px solid;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.title {
  color: #1e9e33;
  text-transform: lowercase;
  letter-spacing: 6px;
  margin-bottom: .3rem;
}

.title a {
  color: #1e9e33;
  text-decoration: none;
}

.text {
  color: #1e9e33;
  letter-spacing: 3.5px;
  margin-bottom: 1rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  height: 10px;
  top: 0;
  background-color: black;
  background-blend-mode: difference;
  width: 100%;
  padding: 2rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #1e9e33;
}

.btn {
  border: 1px solid;
  border-color: #1e9e33;
  padding: .5rem;
  background-color: transparent;
}

.btn a {
  font-family: 'Courier New', Courier, monospace;
  color: #1e9e33;
  letter-spacing: 3.5px;
  margin-bottom: 1rem;
  text-decoration: none;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 1rem;
  padding-top: 50px;
  background: #1e9e33;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 5px;
  color: #1e9e33;
  left: 20px;
}

@media (max-width: 62rem) {
  .container {
    border: #1e9e33 .3px solid;
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
  }
  .text {
    color: #1e9e33;
    letter-spacing: 1.5px;
  }
  .title {
    letter-spacing: 3px;
  }
  nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */